# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
venv/
env/
ENV/
.venv/

# -----------------------------
# Distribution / packaging
# -----------------------------
build/
dist/
*.egg-info/
.eggs/

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Jupyter Notebook checkpoints
# -----------------------------
.ipynb_checkpoints

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Excel / Uploaded files
# -----------------------------
*.xlsx
*.xls
*.csv

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# other files
# -----------------------------
*.refonly